<!-- views/partials/about.ejs -->
<div class="container">
  <a id="about" class="smooth"></a>
  <div class="row" style="height: 240px"></div>
  <div class="row">
    <div class="col-md-6 header-h1">ABOUT</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="maintile">

      <div class="row">
        <p class="header-h1 about-text">
    	    <img src='/images/icons/code-white.svg' class="about-icon"></img>C++, Javascript, Python
        </p>
      </div>

      <div class="row">
        <p class="header-h1 about-text">
          <img src='/images/icons/map-marker-white.svg' class="about-icon"></img>New York, NY
        </p>
      </div>

      <div class="row">
        <p class="header-h1 about-text">
          <img src='/images/icons/earth-globe-white.svg' class="about-icon"></img>Toronto, Ontario
        </p>
      </div>

      <div class="row">
        <p class="header-h1 about-text">
          <img src='/images/icons/heart-outline-white.svg' class="about-icon"></img>Music, Travelling, My Dog
    	  </p>
      </div>

      </div>
    </div>
  </div>
</div>