<!-- views/partials/about.ejs -->
<div class="section" data-anchor="about">
<div class="container">
  <div class="row" style="height:30%"></div>
  <div class="row">
    <div class="col-md-6 page-title">ABOUT</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="maintile">

      <div class="row">
        <p class="header-h1 body-medium">
    	    <img src='/images/icons/code-white.svg' class="about-icon"></img>C++ // Javascript // Python 
        </p>
      </div>

      <div class="row">
        <p class="header-h1 body-medium">
          <img src='/images/icons/map-marker-white.svg' class="about-icon"></img>New York, NY
        </p>
      </div>

      <div class="row">
        <p class="header-h1 body-medium">
          <img src='/images/icons/earth-globe-white.svg' class="about-icon"></img>Toronto, Ontario
        </p>
      </div>

      <div class="row">
        <p class="header-h1 body-medium">
          <img src='/images/icons/heart-outline-white.svg' class="about-icon"></img>Music, Travelling, My Dog
    	  </p>
      </div>

      <div class="row">
        <a class="professional-image" href="https://github.com/nsreeniv"><img src='/images/icons/github-white.svg' alt="Github" height='30px'></img></a>
        <a class="professional-image" href="https://www.linkedin.com/in/nanditha-sreenivasan-847848a1"><img src='/images/icons/linkedin-white.svg' alt="Linked In" height='30px'></img></a>
        <a class="professional-image" href="https://twitter.com/nandithasvn"><img src='/images/icons/twitter-white.svg' alt="Twitter" height='30px'></img></a>
      </div>

      </div>
    </div>
  </div>
</div>
</div>