<!-- views/partials/etc.ejs -->
<div class="section" data-anchor="etc">
<div class="container">
  <div class="row" style="height:30%"></div>
  <div class="row">
    <div class="col-md-6 page-title">ETC.</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="maintile">
  	    <p class="body-medium"><a class="body-medium" href="https://www.pexels.com/">Stock Photos</a></p>
        <p class="body-medium"><a class="body-medium" href="http://www.flaticon.com/authors/dave-gandy">Icons</a></p>
      </div>
    </div>
  </div>
</div>
</div>