<!-- views/partials/etc.ejs -->
<div class="section" data-anchor="etc">
<div class="container">
  <div class="row" style="height:30%"></div>
  <div class="row">
    <div class="col-md-6 page-title">ETC.</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="maintile">
  	    <a href="https://www.pexels.com/"><p class="body-medium">Stock Photos</p></a>
        <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy"><p class="body-medium">Icons</p></a>
      </div>
    </div>
  </div>
</div>
</div>