<!-- views/partials/footer.ejs -->
<footer class="footer">
  <div class="footer-h6">Credits: <a href="https://www.pexels.com/">Stock Photos</a>
  	                              |
                                  <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Icons</a></div>
</footer>