<!-- views/partials/header.ejs -->
<div id="navbar">
<div class="container">
  <div class="row" style="height:20%"></div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
	    <div class="col-md-3 navbar-div"><a class="navbar-font" href="#main">HOME</a></div>
	    <div class="col-md-3 navbar-div""><a class="navbar-font" href="#about">ABOUT</a></div>
	    <div class="col-md-3 navbar-div""><a class="navbar-font" href="#projects">PROJECTS</a></div>
	    <div class="col-md-3 navbar-div""><a class="navbar-font" href="#etc">ETC.</a></div>
	</div>
  </div>
</div>
</div>