<!-- views/partials/iconnav.ejs -->
<div class="section" data-anchor="main">
<div class="container">  
  <div class="row">
    <div class="col-md-6 page-title">NANDITHA SREENIVASAN</div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="maintile">
	      <p class="body-medium">My name is Nanditha and I'm a software developer.</p>
	      <p class="body-medium">This is my personal website which I hope to use to as a scratchpad and for random tinkering.</p>
	      <p class="body-medium">More coming soon...</p>
      </div>
    </div>
  </div>
</div>
</div>