<!-- views/partials/iconnav.ejs -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="maintile">
	      <p class="body-h4">My name is Nanditha and I'm a software developer living in New York City.</p>
	      <p class="body-h4">This is my personal website which I hope to use to as a scratchpad and use for tinkering.</p>
	      <p class="body-h4">More coming soon...</p>
	      <div class="row">
	      	<a href="https://github.com/nsreeniv"><img src='/images/github-sign-white.svg' class="professional-image" alt="Github" height='30px'></img></a>
	      	<a href="https://www.linkedin.com/in/nanditha-sreenivasan-847848a1"><img src='/images/linkedin-sign-white.svg' class="professional-image" alt="Linked In" height='30px'></img></a>
	      	<a href="https://twitter.com/nandithasvn"><img src='/images/twitter-sign-white.svg' class="professional-image" alt="Twitter" height='30px'></img></a>
	      </div>
      </div>
    </div>
  </div>
</div>