<!-- views/partials/etc.ejs -->
<div class="section" data-anchor="projects">
<div class="container">
  <div class="row" style="height:30%"></div>
  <div class="row">
	<div class="col-md-6 page-title">PROJECTS</div>
  </div>
  <div class="row">
	<div class="col-md-6">
	  <div class="maintile">
	    <p class="body-large">Projects go here.</p>
	  </div>
	</div>
  </div>
</div>
</div>