<!-- views/partials/etc.ejs -->
<div class="container">
  <a id="etc"></a>
  <div class="row" style="height: 240px"></div>
    <div class="row">
      <div class="col-md-6 header-h1">ETC.</div>
    </div>
  <div class="body-h4">Credits: 
  	<ul><a href="https://www.pexels.com/">Stock Photos</a></ul>
    <ul><a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Icons</a></ul>
  </div>
</div>