<!-- views/partials/etc.ejs -->
<div class="section" data-anchor="projects">
<div class="container">
  <div class="row" style="height:30%"></div>
  <div class="row">
	<div class="col-md-6 page-title">PROJECTS</div>
  </div>
  <div class="row">
	<div class="col-md-6">
	  <div class="maintile">
	    <p class="body-medium"><a class="body-medium" href="https://twitter.com/lockrtalkr">LockRTalkR</a> | <a class="body-medium" href="https://github.com/nsreeniv/LockRTalkR">Github</a>: An automated twitter handle which retweets banter between professional sports teams.</p> 
	  </div>
	</div>
  </div>
</div>
</div>