<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
<script>
$('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });
    
    return false;
});
</script>

<html>
  <head>
  	<title>Nanditha Sreenivasan</title>
  	<!---CSS/Bootstrap---->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/custcss/custom.css">
	<script src="/js/bootstrap.min.js"></script>
	<!----Fonts---->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<!----Partials---->
    <%- include('partials/header') %>
  </head>

  <body>
  	<%- include('partials/iconnav') %>
  	<%- include('partials/about') %>
  	<%- include('partials/etc') %>
  </body>
</html>
