<!DOCTYPE html>


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nanditha Sreenivasan</title>
  	<!---Custom CSS/Bootstrap---->
  	<link rel="stylesheet" href="/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/custcss/custom.css">
    <!----Jquery Plugins---->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/fullpage/jquery.fullpage.min.js"></script>
    <link rel="stylesheet" href="/fullpage/jquery.fullpage.min.css">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#fullpage').fullpage({
          verticalCentered: true,
          scrollingSpeed: 1000
        });
      });
    </script>
  	<!----Fonts---->
  	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <%- include('partials/header') %>
    <div id="fullpage">
    	<%- include('partials/iconnav') %>
      <%- include('partials/projects') %>
    	<%- include('partials/about') %>
    </div>
  </body>
</html>
