<!DOCTYPE html>
<html>
  <head>
  	<!---CSS/Bootstrap---->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/custcss/custom.css">
	<script src="/js/bootstrap.min.js"></script>
	<!----Font---->
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<!----Partials---->
    <%- include('partials/header') %>
  </head>

  <body>
  	<%- include('partials/footer') %>
  </body>
</html>
