body { 
  background: url(/images/leaf-header.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

a {
  color: #02132d;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

.container {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.maintile {
  background : #000000;
  padding: 10px;
  opacity: 0.6;
}

.professional-image {
  margin-left: 20px;
  margin-bottom: 6px;
}

.about-icon {
  margin-right: 10px;
  margin-left: 15px;
  height: 30px;
}

.header-h1 {
  font-size : 400%;
  font-family: 'Oswald', serif;
  color: #02132d;
  text-align: left;
  opacity: 0.85;
}

.header-h2 {
  font-size : 120%;
  font-family: 'Roboto Condensed', serif;
  color: #999999;
  text-align: left;
  opacity: 0.4;
}

.menu-font {
  margin-top: 30px;
  font-size : 130%;
  font-family: 'Roboto Condensed', serif;
  color: #02132d !important;
  opacity: 0.7;
  text-align: center;
}

.about-text {
  font-family: 'Roboto Condensed', serif;
  color: #e8ebed;
  font-size: 150%; 
  opacity: 0.95;
}

.body-h4 {
  font-family: 'Roboto Condensed', serif;
  color: #e8ebed;
  font-size: 100%; 
  opacity: 0.9;
}

.footer-h6 {
  font-family: 'Roboto Condensed', serif;
  color: #e8ebed;
  font-size: 100%;	
  opacity: 0.3;
}
