body { 
    background: url(/images/leaf-header.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.maintile {
  background : #000000;
  padding: 10px;
  opacity: 0.6;
}

.professional-image {
  margin-left: 20px;
  margin-bottom: 6px;
}

.full-screen-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.header-h1 {
  margin-top: 250px;
  font-size : 400%;
  font-family: 'Oswald', serif;
  color: #02132d;
  text-align: left;
  opacity: 0.85;
}

.header-h2 {
  font-size : 120%;
  font-family: 'Roboto Condensed', serif;
  color: #999999;
  text-align: left;
  opacity: 0.4;
}

.menu-font {
  margin-top: 285px;
  font-size : 130%;
  font-family: 'Roboto Condensed', serif;
  color: #02132d;
  opacity: 0.7;
  text-align: center;
}

.body-h4 {
  font-family: 'Roboto Condensed', serif;
  color: #e8ebed;
  font-size: 100%; 
  opacity: 0.9;
}

.footer-h6 {
  font-family: 'Roboto Condensed', serif;
  color: #e8ebed;
  font-size: 100%;	
  opacity: 0.3;
}
